# Игнорировать все файлы в корне, кроме указанных исключений
/*
!.gitignore
!.env
!public/
!public/images/

# Игнорировать зависимости, такие как node_modules
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Игнорировать результаты тестирования
/coverage

# Игнорировать директории сборки Next.js
/.next/
/out/

# Игнорировать директории сборки продакшн
/build

# Игнорировать различные вспомогательные файлы
.DS_Store
*.pem

# Игнорировать отладочные логи npm и yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорировать локальные .env файлы
.env*.local
